@use './variables' as *;

// GLOBAL styles

body {
    color: $mulberry;
    background-color: $beige;
    font-size: 1.5rem;
    font-family: $bodyFont;
}

header {
    background-color: $peach;
    overflow: auto;
}

main {
    > section {
        padding: 0 calc((100% - $wrapperWidth) / 2) 2rem;
        overflow: auto;
    }
}

footer {
    text-align: center;
    background-color: $wine;
    text-transform: lowercase;
    overflow: auto;
    
    p {
        color: $beige;
    }
}

h1,
h2,
h3 {
    font-family: $headerFont;
    color: $tangerine;
    text-transform: lowercase;
    font-style: italic;
}

h1 {
    font-size: 5rem;
    color: $deepTangerine;
    margin: 2.5rem 0 1rem;
}

h2 {
    font-size: 3.5rem;
    border-bottom: $dottedBorder currentColor;
    line-height: 1.75;
    text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

nav {
    display: flex;
    flex-flow: row;
    align-items: center;

    ul {
        display: flex;
        flex-flow: row;
        column-gap: ($gap / 2);
        list-style: none;
        padding: 0;
        margin: 0 auto 0 0;
    }

    a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        color: $wine;
        border: 2.5px solid transparent;
        transition: $defaultTransition;
        box-shadow: 0 0 50px transparent;

        &:hover {
            color: $deepTangerine;
            border-color: $tangerine;
            border-radius: $buttonRadius;
            box-shadow: 0 0 15px $deepTangerine;
        }
    }
}

p {
    margin: 1.5rem 0;
    line-height: 1.5;
}

a {
    color: $mauve;
    text-transform: lowercase;
}

button, .button {
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: $white;
    background-color: $deepTangerine;
    padding: $buttonPadding;
    border-radius: $buttonRadius;
    text-decoration: none;
    text-transform: lowercase;
    transition: $defaultTransition;
    border: 0;
    text-shadow: 0 0 0px rgba($peach, 1);

    &:hover {
        background-color: $tomato;
        text-shadow: 0 0 10px rgba($peach, 1);
    }
}

hr {
    border: none;
    border-bottom: 2px solid $peach;
}

.alt {
    background-color: $rose;
    color: $white;

    h2 {
        color: $wine;
    }
}

.vampy {
    background-color: $peach;
}
