@use './variables' as *;

// GLOBAL styles

* {
    transition: $defaultTransition;
}

body:not(.darkMode) {
    --beige: #{$beige};
    --peach: #{$peach};
    --rose: #{$rose};
    --tangerine: #{$tangerine};
    --deepTangerine: #{$deepTangerine};
    --tomato: #{$tomato};
    --mauve: #{$mauve};
    --wine: #{$wine};
    --mulberry: #{$mulberry};
    --ash: #{$ash};
    --black: #{$black};
    --white: #{$white};
}

body.darkMode {
    --beige: #{$ash};
    --peach: #{$mulberry};
    --rose: #{$wine};
    --tangerine: #{$deepTangerine};
    --deepTangerine: #{$tangerine};
    --tomato: #{$tomato};
    --mauve: #{$mauve};
    --wine: #{$rose};
    --mulberry: #{$beige};
    --ash: #{$ash};
    --black: #{$black};
    --white: #{$white};
}

body {
    color: var(--mulberry);
    background-color: var(--beige);
    font-size: 1.5rem;
    font-family: $bodyFont;
}

header {
    background-color: var(--peach);
    overflow: auto;
}

main {
    > section {
        padding: 0 calc((100% - $wrapperWidth) / 2) 2rem;
        overflow: auto;
    }
}

footer {
    text-align: center;
    background-color: var(--wine);
    text-transform: lowercase;
    overflow: auto;
    
    p {
        color: var(--beige);
    }
}

h1,
h2,
h3 {
    font-family: $headerFont;
    color: var(--tangerine);
    text-transform: lowercase;
    font-style: italic;
}

h1 {
    font-size: 5rem;
    color: var(--deepTangerine);
    margin: 2.5rem 0 1rem;
}

h2 {
    font-size: 3.5rem;
    border-bottom: $dottedBorder currentColor;
    line-height: 1.75;
    text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

nav {
    display: flex;
    flex-flow: row;
    align-items: center;

    ul {
        display: flex;
        flex-flow: row;
        column-gap: ($gap / 2);
        list-style: none;
        padding: 0;
        margin: 0 auto 0 0;
    }

    a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        color: var(--wine);
        border: 2.5px solid transparent;
        transition: $defaultTransition;
        box-shadow: 0 0 50px transparent;

        &:hover {
            color: var(--deepTangerine);
            border-color: var(--tangerine);
            border-radius: $buttonRadius;
            box-shadow: 0 0 15px var(--deepTangerine);
        }
    }
}

p {
    margin: 1.5rem 0;
    line-height: 1.5;
}

a {
    color: var(--mauve);
    text-transform: lowercase;
}

button, .button {
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--deepTangerine);
    padding: $buttonPadding;
    border-radius: $buttonRadius;
    text-decoration: none;
    text-transform: lowercase;
    transition: $defaultTransition;
    border: 0;
    text-shadow: 0 0 0px $peach;

    &:hover {
        background-color: var(--tomato);
        text-shadow: 0 0 10px $peach;
    }
}

hr {
    border: none;
    border-bottom: 2px solid var(--peach);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: $wrapperWidth;
}

.hero {
    text-align: center;
    margin-bottom: 2.5rem;

    p {
        text-transform: lowercase;
        font-size: 2rem;
        font-style: italic;
        color: var(--wine);
    }
}

.alt {
    background-color: var(--rose);
    color: var(--white);

    h2 {
        color: var(--wine);
    }
}

.vampy {
    background-color: var(--peach);
}

.icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    figure {
        width: 8rem;

.twoCol {
    display: flex;
    flex-flow: row;
    column-gap: $gap;

    @include tablet {
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;

        > img {
            order: -1;
        }
    }
    
    > * {
        flex: 1 1 50%;
    
        @include tablet {
            flex-basis: 100%;
        }
    }
}
