// Variables

// COLORS
$beige: #fde8d6;
$peach: #FFB4A2;
$rose: #E5989B;
$tangerine: #e56b6f;
$deepTangerine: #da484c;
$tomato: #c8373c;
$mauve: #B5838D;
$wine: #b56576;
$mulberry: #664f6d;
$ash: #4c3c57;

$black: #111;
$white: #fee;

// WIDTHS
$gap: 2rem;
$wrapperWidth: 1024px;

// FONTS
$headerFont: 'Playfair Display', serif;
$bodyFont: 'DM Sans', sans-serif;

// BORDERS 
$dottedBorder: 0.4rem dotted;
$buttonRadius: 3rem;
$imageRadius: 7rem;

// PADDING
$buttonPaddingX: 1.5rem;
$buttonPaddingY: 1rem;
$buttonPadding: $buttonPaddingY $buttonPaddingX;

// TRANSITIONS
$defaultTransition: all 0.2s ease-out;

// BREAKPOINTS
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;