@use "./partials/setup";
@use './partials/global';
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.logo {
    color: var(--deepTangerine);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: $headerFont;

    @include mobile {
        // display: none;
    }
}

#about {
    padding-top: 4rem;

    img {
        height: 300px ;
        width: 300px;
        border-radius: 50%;
        margin: 1rem 0;
    }
}

#skills {
    
    figure {
        text-align: center;
        flex-shrink: 0;
        flex-basis: 6rem;

        figcaption {
            text-transform: lowercase;
            font-weight: bold;
        }
    }

    svg {
        fill: currentColor;
        width: 5rem;
        height: 5rem;
    }
}

#projects {

    article {
        margin: ($gap / 2) 0;

        > img {
            border-radius: $imageRadius;
        }

        @include desktop {
            > section {
                text-align: right;
            }
    
            > img + section {
                text-align: left;
            }
        }

        .button {
            margin-left: ($gap / 2);

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.tags {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--wine);
}

#contact {

    text-align: center;

    a {
        display: inline-block;
        margin: 0 1rem;
        transition: $defaultTransition;

        svg {
            width: 3.5rem;
            height: 3.5rem;
            padding: 0.5rem;
            fill: var(--deepTangerine);
            transition: $defaultTransition;
        }

        &:hover{
            svg {
                padding: 0;
                fill: var(--tomato);
            }
        }
    }

    form {
        display: flex;
        flex-flow: column;
        flex-basis: 66%;
        row-gap: $gap;
        margin: 1.5rem 0;

        label {
            display: none;
        }

        input,
        textarea {
            border: none;
            border-radius: $buttonRadius;
            padding: $buttonPadding;
            background-color: $white;
            color: $wine;

            &::placeholder {
                color: $rose;
            }

        }

        textarea {
            // resize: none;
        }

        button {
            align-self: center;
            width: 50%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.toggle {
    background-color: var(--beige);
    padding: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: $gap;
    border-radius: $buttonRadius;
    box-shadow: 0 3px 3px -3px rgba(black, 0.4) inset;
    cursor: pointer;

    input {
        appearance: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
        
        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            content: "🏵️";
            font-size: 1.5rem;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            box-shadow: 0 1px 2px rgba(black, 0.4);
            background-color: rgba(white, 0.1);
    
            margin-right: 1em;
            transition: $defaultTransition;
        }
    
        &:checked::after {
            margin-left: 1em;
            margin-right: 0;

            content: "🌙";
        }
    }
}