@use "./partials/setup";
@use './partials/global';
@use "./partials/variables" as *;

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.logo {
    color: $deepTangerine;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: $headerFont;
}

.hero {
    text-align: center;
    margin-bottom: 2.5rem;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 80px;
}

#skills {
    
    figure {
        text-align: center;

        figcaption {
            text-transform: lowercase;
            font-weight: bold;
        }
    }

    svg {
        fill: currentColor;
        width: 5rem;
        height: 5rem;
    }
}

#projects {

    article {
        display: flex;
        flex-flow: row;
        column-gap: $gap;
        margin: $gap 0;

        > * {
            flex: 0 1 50%;
        }

        > img {
            border-radius: 7rem;
        }

        > section {
            text-align: right;
        }

        > img + section {
            text-align: left;
        }

        .button {
            margin-left: ($gap / 2);

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.tags {
    font-weight: bold;
    font-size: 1.25rem;
    color: $wine;
}

#contact {

    text-align: center;

    a {
        display: inline-block;
        margin: 0 1rem;
        transition: $defaultTransition;

        svg {
            width: 4rem;
            height: 4rem;
            padding: 0.5rem;
            fill: $deepTangerine;
            transition: $defaultTransition;
        }

        &:hover{
            svg {
                padding: 0;
                fill: $tomato;
            }
        }
    }

    form {
        display: flex;
        flex-flow: column;
        row-gap: $gap;

        label {
            display: none;
        }

        input,
        textarea {
            border: none;
            border-radius: $buttonRadius;
            padding: $buttonPadding;
            background-color: $white;
            color: $wine;

            &:focus {
                outline: none;
                box-shadow: 0 0 10px $tangerine;
            }

            &::placeholder {
                color: $rose;
            }

        }

        textarea {
            resize: none;
        }

        button {
            &:hover {
                cursor: pointer;
            }

            &:focus {
                &::after {
                    content: ' (pls)';
                    font-size: 0.75em;
                }
            }
        }
    }
}